/* !BASE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    box-shadow: 0px 6px 12px rgb(0 0 0 / 10%);
}

header nav {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo {
    flex: 2;
    display: flex;
    align-items: center;
}

.nav-menu {
    flex: 10;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu li input {
    display: none;
}

.nav-menu li a {
    display: block;
    color: #1f1f1f;
    text-decoration: none;
    position: relative;
    padding: 12px 0 12px 16px;
}

.nav-menu li ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    min-width: 216px;
    top: 100%;
    border-bottom: 4px solid #f09a20;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}

.nav-menu li ul li {
    position: relative;
}

.nav-menu li ul li a {
    color: #381d1d;
    padding: 10px 8px;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.nav-menu li ul li a:hover,
.nav-menu li a:hover,
.active {
    color: #f09a20;
}

.nav-menu li ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Icons */
.fa-solid {
    font-weight: 600;
    font-size: 14px;
}

/* Main Content */
.content {
    flex-grow: 1;
    padding: 4% 2%;
}

.content h1 {
    margin-bottom: 1rem;
}

.content h2 {
    margin: 0.65rem 0;
}

/* Hamburger */
.hamburger-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 31px;
    right: 40px;
}

.menu-toggle {
    background-image: linear-gradient(#f9ae37, #bf161f);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.hamburger {
    cursor: pointer;
    position: relative;
    top: 17%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 12px;
    background-color: white;
    margin: 5px auto;
    transition: all 0.3s ease;
}

/* Hamburger Animation */
.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 960px) {
    .nav-menu li:hover > ul {
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 960px) {
    .menu-toggle {
        display: block;
    }
    header {
        padding: 6px 5%;
    }
    .logo {
        flex: 6;
    }
    .nav-menu {
        flex: 12px;
        position: absolute;
        flex-direction: column;
        background-color: #f4f4f4;
        left: -100%;
        top: 108px;
        width: 100vw;
        padding: 10px 50px;
        align-items: start;
        justify-content: start;
        overflow-y: scroll;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-menu li {
        width: 100%;
        padding: 12px 0 6px 0;
    }
    .nav-menu li:not(:last-child) {
        border-bottom: 1px solid #1f1f1f;
    }
    .nav-menu li ul {
        position: initial;
        left: 0;
        top: 0;
        background-color: #ffffff;
        font-size: 14px;
        visibility: visible;
        opacity: 1;
        border: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
        display: none;
    }
    .nav-menu li input:checked + ul {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .logo img {
        width: 230px;
        height: 60px;
    }
    .nav-menu {
        top: 68px;
    }
    
    .hamburger-container {
        top: 12px;
        right: 12px;
    }
    .menu-toggle {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 425px) {
    .logo img {
        width: 200px;
        height: 50px;
    }
}