* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
    text-align: center;
    padding: 30px;
    margin: 30px auto;
    font-family: sans-serif;
    border-radius: 8px;
    z-index: 100;
}

.box input {
    margin: 8px 0;
    display: block;
    width: 100%;
}