* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
	background:#120404;
	color: #fff;
}

.footer-container {
	width: 90%;
	margin: 0 auto;
}

.footer-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left-info, 
.right-info {
	width: 50%;
	padding: 22px 0;
}

.footer-para {
	width: 70%;
	padding-top: 12px;
}

.right-info h2{
	text-align: center;
	padding-bottom: 12px;
	color: #fff;
	font-size: 18px;
}

.contact-info {
	width: 60%;
	background-color: #fff;
	padding: 20px;
	margin: 0 auto;
	border-radius: 6px;
	color: #000;
}

.contact-info .input-box {
	position: relative;
	width: 100%;
}

.contact-info .input-box input,
.contact-info .input-box textarea {
	width: 100%;
	padding: 5px 0;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	resize: none;
}

.contact-info .input-box span {
	position: absolute;
	left: 0;
	padding: 5px 0;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contact-info .input-box input:focus ~ span,
.contact-info .input-box input:valid ~ span,
.contact-info .input-box textarea:focus ~ span,
.contact-info .input-box textarea:valid ~ span {
	color: #e96c1edb;
	font-size: 12px;
	transform: translateY(-20px);
}

.contact-info .input-box input[type="submit"] {
	width: 100%;
	background-color: #e08110;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
}

.contact-info .input-box input[type="submit"]:hover {
	background-color: #ca750e;
}

.copyright-info {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #e08110;
	height: 40px;
	align-items: center;
}

.copyright-text {
	font-size: 14px;
}

.compnay-details a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}

.compnay-details a:hover {
	color: #e08110;
}

/* Footer Resposiveness */
@media all and (min-width: 320px) and (max-width: 768px) {
	.footer-container {
		width: 100%;
	}
	.footer-info {
		display: flex;
		flex-direction: column;
	}
	.left-info, 
	.right-info {
		width: 100%;
		padding: 18px;
		/* min-width: 320px; */
	}
	.footer-para {
		width: 100%;
		padding-top: 10px;
	}
	.footer-logo {
		text-align: center;
	}
	.footer-logo img {
		width: 300px;
		height: 90px;
		text-align: center;
	}
	.contact-info {
		width: 100%;
	}
	.copyright-info {
		flex-direction: column;
		height: 70px;
		padding-bottom: 14px;
	}
	.copyright-text {
		padding-top: 12px;
		padding-bottom: 6px;
	}
	.compnay-details a {
		color: #999999;
	}
}