/* !BASE RESET */
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

/* !HERDER */
header {
    width: 100%;
    background-color: #e3e3e3;
}

.navbar-container {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 20px;
    font-weight: 500;
    color: rgb(184, 11, 184)
}

.menu {
    width: 30%;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.menu-list a {
    padding: 12px 16px;
}
.active,
.menu-list a:hover {
    color:rgb(184, 11, 184);
}