/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

html {
    box-sizing: border-box;
    font-family: poppins;
}

.item {
    background-color: blueviolet;
    height: 300px;
    padding: 12px;
}