/* Buttons with Icons */
.button {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background-color: #009758;
    border: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500px;
    cursor: pointer;
}

.button:hover {
    background-color: #008168;
}

.button:active {
    background-color: #006E58;
}

.button_text, .button_icon {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    color: #fff;
    height: 100%;
}

.button_icon {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}