@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --font-color: #fff;
    --brnad-color: #bc85ee;
    --hero-bg: rgba(0, 0, 0, 0.7);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

header {
    width: 100%;
    height: 60px;
    background-color: var(--brnad-color);
}

.header-content {
    width: 80%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 12px;
}

.active {
    color: var(--hero-bg);
}

/* Hero section */
.hero {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right, #929491 , #666666);
    margin: 0 auto;
}

.hero-content {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: var(--font-color);
    /* border: 2px solid red; */
}

.left-content {
    width: 70%;
    /* border: 2px solid blue; */
}

.right-content {
    /* border: 2px solid blue; */
    padding-top: -100px;
    width: 30%;
}

.right-content img {
    width: 100%;
    height: 300px;
}

/* buttons */
button {
    border: none;
    padding: 8px 20px;
    margin-right: 0.2rem;
    border-radius: 1.8rem;
    color: var(--font-color);
    border: 0.09375rem solid var(--brnad-color);
}

.btns {
    margin-top: 12px;
}

.btn1 {
    background-color: transparent;
}

.btn2 {
    background-color: var(--brnad-color);
}

/* .btn3 {
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, #ff0, #f0f, #f00, #00f, #0f0);
    border-image-slice: 1;
} */