* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    width: 100%;
    background-color: #e3e3e3;
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 30px;
}

a, button {
    color: rgb(58, 58, 58);
    font-size: 18px;
    font-weight: 500;
    font-family: 'poppins';
}

.link:hover,
.dropdown > .link:focus {
    color: rgb(63, 0, 145);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .5rem);
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}