* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container h1 {
    text-align: center;
}

.table-content {
    border-collapse: collapse;
    margin: 25px 0;
}